h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.1rem;
    font-size: 1.3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .1rem;
    border: 2px solid rgb(128, 128, 128); 
    border-radius: 8px; 
    padding: 7px; 
    box-shadow: 10px 5px 30px 0px rgba(0,0,0,0.75);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleInputContainer,
.urlInputContainer,
.colorInputContainer { 
    display: flex;
    flex-direction: column;
    margin-bottom: .1rem;
}

.inputTitle {
    font-size: 1.3rem;
    margin-bottom: 0rem;
}

.input {
    width: 18rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: -1rem;
}

.submitButton {
    width: 15rem;
    height: 2rem;
    margin-top: .1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3;
}

.categoryVisibilityContainer {
    margin-top: 1rem;
    text-align: left;
    display: flex;
    max-height: 125px;
    flex-direction: column;
    flex-wrap: wrap;
    .categoryVisibilityItem {
      label {
        display: flex; 
        align-items: center; 
        cursor: pointer; 
  
        input[type="checkbox"] {
          cursor: pointer; 

          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;

          width: 20px;
          height: 20px;
          border: 2px solid #ccc;
          border-radius: 4px;
          margin-right: 8px;
          outline: none;
          background-color: #fff;
          &:checked {
            background-color: #008ca5; 
            border-color: #34e7ba; 
          }
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }


.bookmarks {
    display: flex;
    flex-wrap: wrap; /* Allow bookmarks to wrap into multiple rows */
    justify-content: flex-start; /* Align bookmarks to the left */
    gap: 20px; /* Add gap between bookmarks */
    max-width: 1920px;
  }
  
  .bookmarkContainer {
    width: 175px; /* Set a fixed width for each bookmark */
    margin-bottom: 20px; /* Add space between rows */
  }

  .bookmarksContainer {
    margin-bottom: -1rem;
  }