.bookmarkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .8rem;
    border-radius: 5px;
    position: relative; /* Added position relative for positioning the important button */
}

.bookmark {
    width: 90%;
    max-width: 400px;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: .15rem;
    margin-top: .15rem;
}

.titleInput,
.urlInput {
    width: 85%;
    padding: 0.5rem;
    font-size: .9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.colorInput {
    margin-top: .1rem;
}

.submitButton {
    width: 100%;
    margin-top: .1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

.button {
    margin-top: .1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #c82333;
    }
}

.visitBtnContainer {
    margin-top: .1rem;
}

.visitBtn {
    font-size: .9rem;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.importantButtonContainer {
    position: absolute;
    top: 5px;
    right: 5px;
}

.importantButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;

    &.importantActive {
        color: gold; /* Change color when active */
    }

    &:hover {
        color: gold; /* Change color on hover */
    }
}
